<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Đăng ký</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body class="bg-light">

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4" style="width: 350px;">

        <h3 class="text-center mb-4">Đăng ký</h3>

            <div class="mb-3">
                <label class="form-label">Tên đăng nhập</label>
                <input id="username" type="text" class="form-control" name="username" placeholder="Username" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Mật khẩu</label>
                <input id="password" type="password" class="form-control" name="password" placeholder="Password" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Bút danh</label>
                <input id="name" type="text" class="form-control" name="nameShow" placeholder="Name" required>
            </div>

            <button class="btn btn-success w-100" onclick="register()">Xác nhận</button>

        <div class="text-center mt-3">
            <a href="../index.html">Đã có tài khoản? Đăng nhập.</a>
        </div>

    </div>
</div>

<script>
        async function register(){

        let user = {
        username: document.getElementById("username").value,
        password: document.getElementById("password").value,
        name: document.getElementById("name").value
    }

        console.log(user); // debug quan trọng

        await axios.post(
        "http://localhost:8080/api/users/register",
        user
        )

        alert("Register success")

        location.href="/Case_blog/Case_blog.main/templates/index.html";
    }

</script>

</body>
</html>